<%- include('../partials/header.ejs')%>
<div class = "content">
   

    
   

    <%if(data.stories.length > 0 ){%>
        <h2>Select an Event</h2>
             <% for (var i=0; i< data.topics.length; i++){%>
                <h2><%= data.topics[i]%></h2>
                
                <%data.stories.forEach(story=>{%>
                    <%if(story.topic === data.topics[i]){%>
                        <a href="/stories/<%= story.id%>"> <p><%= story.title%></p></a>
                    <%}%>
                
                <%});%> 
             <% }%>           
    <%}else{%>
        <p>There are no Events to display</p>
        <%}%>

    </div>
<%- include('../partials/footer.ejs')%>