
<%- include('../partials/header.ejs')%>
<div class = "content">
   

    
   

    <%if(stories.length){%>
        <h2>Select an Event</h2>
             <% for (var i=0; i< stories2.length; i++){%>
                <h2><%= stories2[i]%></h2>
                
                <%stories.forEach(story=>{%>
                    <%if(story.topic === stories2[i]){%>
                        <a href="/stories/<%= story.id%>"> <p><%= story.title%></p></a>
                    <%}%>
                
                <%});%> 
             <% }%>           
        
            




    <%}else{%>
        <p>There are no Events to display</p>
        <%}%>

    </div>
<%- include('../partials/footer.ejs')%>


<!--
    <%stories.forEach(story=>{%>
    <a href="/stories/<%= story.id%>"> <p><%= story.title%></p></a>

     This makes each story a link
        <%if(story.topic === 'BBQ'){%>
            <h2>BBQ</h2>
            <a href="/stories/<%= story.id%>"> <p><%= story.title%></p></a>
        <% }else if(story.topic === 'Free Style'){%>
            <h2>Free Style</h2>
            <a href="/stories/<%= story.id%>"> <p><%= story.title%></p></a>
        <% }else if(story.topic === 'General Baking'){%>
                <h2>General Baking</h2>
                <a href="/stories/<%= story.id%>"> <p><%= story.title%></p></a>
        <%}%>
     <%});%>   
    -->
