<%- include('../partials/header.ejs')%>
    <div class = "content">
       <h1 ><%=story.title%></h1>
       <div id = "image"><img src=<%= story.image%> id="test"/></div>
       <h5 class="adjText" >Event will be held by <%= story.author%> from <%= story.start%> to <%= story.end%> on the <%= story.date%></h5>
       <br>
       <div id = "Location:" class="adjText">Location <%= story.location%></div>
       <br>
          <br>
       
       <br>
       <div id ="information" class="adjText"><%= story.content%></div>
       <br>
       <br>
       <div id ="Other information" class="adjText"><%= story.otherInfo%></div>
    
       
       <br>
       <br>
       <form>
        <button type ="submit" formmethod="GET" formaction="/stories/<%= story.id%>/eddit">Edit</button>
        <button type ="submit" formmethod="POST" formaction="/stories/<%= story.id%>?_method=DELETE">Delete</button>
       
       </form>
    </div>
   <%- include('../partials/footer.ejs')%>